.welcome{
    font-size: 75px;
    margin-top:310px;
}

.welcomeText{
    font-size: 15px;
}
.welcomeImg{
    opacity: .6;
    border-radius: 20px;
    height: 850px;
}

.welcomeBox{
margin-top: 50px;
margin-left: 30px;
box-shadow: 5px 5px;
border-radius: 20px;
}